<div class="container py-5">
    <div class="row">
      @for (item of productos; track item) {
    <div class="col-lg-3">
      <div class="product_card">
        <div class="card border-0">
          <div class="card-header bg-transparent border-0 p-0">
            <img class="card-img-top" src="{{ item.image }}" alt="" />
            <div class="card-overlay">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">
                  <i class="far fa-heart"></i>
                </button>
                <button type="button" class="btn btn-light">
                  <i class="fas fa-shopping-cart"></i> Add to cart
                </button>
              </div>
            </div>
            <div class="details-btn">
              <a href="#" class="btn btn-dark"
                >View Details <i class="fas fa-long-arrow-alt-right"></i
              ></a>
            </div>
          </div>
          <div class="card-body">
            <small>
              <a href="#" class="text-muted">{{ item.title }}</a>
            </small>
            <div class="price">
              <!--<span class="text-decoration-line-through">৳ 870</span>-->
              <span class="text-warning">Precio: ৳ {{ item.price }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
}
  </div>
</div>
