@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.logo{
    font-family: "Dancing Script", cursive;
    text-decoration: none;
    color: black;
    font-size: 26px;
    margin-right: 10px;
}