<h1 class="text-center">Manage Products</h1>

<div style="width: 90%; margin: 0 auto">
  <button
    type="button"
    class="btn btn-success"
    id="add-product"
    style="margin: 10px"
    data-bs-toggle="modal"
    data-bs-target="#eModal"
  >
    Add Product
  </button>
  <table class="table align-middle mb-3 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Product</th>
        <th>Category</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    @for (item of productos; track item) {
    <tbody>
      <td>
        <div class="d-flex align-items-center">
          <img
            src="{{ item.image }}"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1" id="prod-name">{{ item.title }}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-bold mb-1" id="prod-total">
          {{ item.category }}
        </p>
      </td>
      <td>
        <span
          class="badge text-black"
          id="prod-quantity"
          style="font-size: 12px; color: white; padding: 4px 10px"
          >${{ item.price }}</span
        >
      </td>
      <td style="display: flex; justify-content: space-around">
        <button
          type="button"
          class="btn btn-warning"
          id="delete-product"
          style="background-color: #ffca2c"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          [attr.data-id]="item.id"
          (click)="selectProductToEdit(item.id)"
        >
          <i><img src="../../../assets/images/icons/edit.svg" /></i>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="delete-product"
          style="background-color: #dc3546"
          (click)="delete(item.id)"
        >
          <i><img src="../../../assets/images/icons/trash.svg" /></i>
        </button>
      </td>
    </tbody>
    }
  </table>
  <form (ngSubmit)="edit(formulario)"
  #formulario="ngForm">
    <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content" style="background-color: #eddada">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit product</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div
            class="d-flex align-items-center"
            style="justify-content: center"
          >
            <img
              [src]="imageUrl"
              alt=""
              style="width: 100px; height: 100px; margin: 10px"
              class="rounded-circle"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">🆔</span>
            <input
              type="number"
              class="form-control"
              placeholder="Insert product ID"
              aria-label="price"
              aria-describedby="basic-addon1"
              [(ngModel)]="selectedProductId"
              name="id"
              [readonly]="true"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">⭐</span>
            <input
              type="text"
              class="form-control"
              placeholder="Insert product name"
              aria-label="Product name"
              aria-describedby="basic-addon1"
              [(ngModel)]="title"
              name="title"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">📷</span>
            <input
              type="text"
              class="form-control"
              placeholder="Insert URL image"
              aria-label="Image"
              [(ngModel)]="imageUrl"
              aria-describedby="basic-addon1"
              name="image"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">💵</span>
            <input
              type="number"
              class="form-control"
              placeholder="Insert product price"
              aria-label="price"
              aria-describedby="basic-addon1"
              [(ngModel)]="price"
              name="price"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">🤩</span>
            <textarea
              class="form-control"
              aria-label="With textarea"
              placeholder="Insert product description"
              [(ngModel)]="description"
              name="description"
            ></textarea>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">❔</label>
            <select class="form-select" id="inputGroupSelect01" [(ngModel)]="category" name="category">
              <option selected>Choose category...</option>
              <option value="men's clothing">Men's clothing</option>
              <option value="jewelery">Jewelery</option>
              <option value="electronics">Electronics</option>
              <option value="women's clothing">Women's clothing</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-success" >Save changes</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  <form (ngSubmit)="addProduct(formulario)"
  #formulario="ngForm">
    <div
    class="modal fade"
    id="eModal"
    tabindex="-1"
    aria-labelledby="eModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content" style="background-color: #eddada">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add product</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div
            class="d-flex align-items-center"
            style="justify-content: center"
          >
            <img
              [src]="imageUrl"
              alt=""
              style="width: 100px; height: 100px; margin: 10px"
              class="rounded-circle"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">⭐</span>
            <input
              type="text"
              class="form-control"
              placeholder="Insert product name"
              aria-label="Product name"
              aria-describedby="basic-addon1"
              [(ngModel)]="title"
              name="title"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">📷</span>
            <input
              type="text"
              class="form-control"
              placeholder="Insert URL image"
              aria-label="Image"
              [(ngModel)]="imageUrl"
              aria-describedby="basic-addon1"
              name="image"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">💵</span>
            <input
              type="number"
              class="form-control"
              placeholder="Insert product price"
              aria-label="price"
              aria-describedby="basic-addon1"
              [(ngModel)]="price"
              name="price"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">🤩</span>
            <textarea
              class="form-control"
              aria-label="With textarea"
              placeholder="Insert product description"
              [(ngModel)]="description"
              name="description"
            ></textarea>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">❔</label>
            <select class="form-select" id="inputGroupSelect01" [(ngModel)]="category" name="category">
              <option selected>Choose category...</option>
              <option value="men's clothing">Men's clothing</option>
              <option value="jewelery">Jewelery</option>
              <option value="electronics">Electronics</option>
              <option value="women's clothing">Women's clothing</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-success">Save product</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
