<div class="container">
    <h1 class="text-center mb-5 title">Sobre Nosotros</h1>
    <article class="text-center m-5">
        Bienvenidos a nuestra tienda, un lugar donde la moda, la tecnología y la belleza se fusionan para ofrecerte lo
        mejor. Nos enorgullece presentar una selección cuidadosamente curada de prendas de vestir, productos
        electrónicos y joyería de alta calidad, diseñados para satisfacer tus necesidades y complementar tu estilo de
        vida.
    </article>
    <div class="row">
        <span class="col-md-6 mb-3">
            En nuestra sección de ropa, encontrarás las últimas tendencias de la moda, desde prendas casuales hasta
            looks más sofisticados, pensados para que puedas expresar tu personalidad única. Nos enorgullece ofrecer una
            amplia variedad de tallas y estilos para que encuentres el ajuste perfecto.
            <br>
            Nuestra selección de productos electrónicos está a la vanguardia de la tecnología, ofreciendo dispositivos
            innovadores y funcionales que facilitarán tu vida diaria. Desde smartphones y tabletas hasta accesorios de
            última generación, tenemos todo lo que necesitas para mantenerte conectado y productivo.
        </span>
        <span class="col-md-6">
            <img src="/assets/images/brand/ropa-electronica.webp" style="width: 100%" />
        </span>
    </div>
    <div class="row my-3">
        <span class="col-md-6 mb-3">
            Nuestro amor por la belleza se refleja en nuestra exquisita colección de joyería, donde encontrarás piezas
            únicas y artesanales que elevarán tu estilo. Desde anillos y pulseras hasta collares y aretes, cada pieza
            está cuidadosamente diseñada para resaltar tu belleza natural y convertirse en un accesorio memorable.
            <br>
            En nuestra tienda, nos enorgullecemos de ofrecer un servicio excepcional y una experiencia de compra
            inigualable. Nuestro equipo de expertos estará encantado de asesorarte y ayudarte a encontrar los productos
            perfectos para ti.
        </span>
        <span class="col-md-6">
            <img src="/assets/images/brand/joyeria.webp" style="width: 100%" />
        </span>
    </div>
</div>