<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Snowfall | tsParticles 404</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela"
    />
  </head>
  <body>
    <div style="display: inline-flex">
      <div class="images">
        <img id="cup" src="../../../assets/images/404/cup.svg" />
        <img id="cat" src="../../../assets/images/404/cat.svg" />
      </div>
      <div class="para">
        <header>
          <h2>404.</h2>
          <h3>Sorry, Wrong Door.</h3>
        </header>

        <p>
          Don't worry, sometimes even we make mistakes. You can find plenty of
          other things on our homepage.
        </p>

        <a href="home" class="btn btn-info">Back to Homepage</a>
        
      </div>
    </div>
  </body>
</html>
