<div class="container">
    <h1>LOGIN</h1>
    <form (ngSubmit)="login(formulario)" #formulario="ngForm">
        <label for="username" class="form-label">Email:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" name="email" [(ngModel)]="email">
        </div>
        <label for="pwd" class="form-label">Password:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>