<h1 class="text-center mt-5 title">Contact</h1>
<section class="container mt-5">
    <article class="row">
        <div class="col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255343.8852140958!2d-78.68652411569553!3d-0.3396750786766856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59b6c72f8d4d7%3A0x730c86e503d3c29!2sEdgar%20Sandoval%20Photostudio!5e0!3m2!1ses!2sec!4v1709214008468!5m2!1ses!2sec"
                style="border:0; aspect-ratio: 4/3; width: 100%; height: 100%;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
            <form>
                <div class="mb-2">
                    <label for="InputName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="InputName">
                </div>
                <div class="mb-2">
                    <label for="InputEmail" class="form-label">Email </label>
                    <input type="email" class="form-control" id="InputEmail">
                </div>
                <div class="mb-2">
                    <label for="InputAffair" class="form-label">Asunto</label>
                    <input type="text" class="form-control" id="InputAffair">
                </div>
                <div class="mb-2">
                    <label for="InputMessage" class="form-label">Message</label>
                    <input type="text" class="form-control" id="InputMessage">
                </div>
                <div class="mb-2 form-check">
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
                </form>
        </div>
    </article>
</section>